<% include ../partials/header %>

<header class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Blog Title</h1>
        <hr>
        <p class="lead">A tagline describing your blog</p>
        <% if (currentUser && currentUser.isAdmin) { %>
        <a class="btn btn-primary" href="/posts/new">Create Post</a>
        <% } %>
    </div>
</header>

<div class="container">
    <div class="row">
        
        <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <div class="container-fluid bg-white text-dark mb-3 p-5 index-post">
                <div>
                    <h4><%= posts[i].title %></h4>
                </div>
                <div>
                    <p><%- posts[i].content.substring(0, 100) %>...</p>
                </div>
                <div class="text-muted">
                    <p>Created: <%= posts[i].created.toDateString() %></p>
                </div>
                    <a class="btn btn-primary float-right" href="/posts/<%= posts[i]._id %>">Read More</a>
            </div>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>